body{
  backdrop-filter: initial blur(10px);
  background-image: url(IMG/Fondo_index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  transition: background-position 0.7s ease-out;

}

#visualizador {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: rgb(32, 187, 27);
  color: rgb(0, 0, 0);
  font-weight: 100;
  transition: transform 0.1s ease-out;
  margin-left: 10% ;
  margin-top: 5%;
}

menu{
  width: auto;
  height: 50px;
  background-color: white;
  margin-top: 1%;
}

#boton1{
position: absolute;
margin: auto;
background-color: rgba(0, 255, 255, 0);
width: 500px;
height: 500px;
}